---
layout: default
---

    <div class="container" id="main">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 mx-auto">

            {% include slider.html %}

                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 mx-auto">

                <p class="custom_about"> Welcome to the <a href="https://www.ucf.edu/"><B>UCF</B></a> SENSEable Design Lab. We are an inter-disciplinary research group with a grounding in computer science that develops computational methods, design practices, and performative metrics to create and evaluate embodied designs. Research and education at the SENSEable Design Lab bridge science, art, and psychology, from modeling light at reflection at the wavelength level to multimodel performance and training capture.</p>

                <p class="custom_about"> Our research focuses on changing current architectural and training practices by developing, validating, and testing simulation methods utilizing complex illumination, material appearance, physically-based simulation, and spectral rendering to improve design solutions for building energy use and occupant comfort. You can find us at the <a href="https://www.ist.ucf.edu/"><B>Institute for Simulation and Training</B></a>.</p>

            </div>
        {% include news.html %}
        </div>

    </div>
