<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="SENSEable, SENSEable design,kider, sustainable, graphics, Joseph Kider, Joe Kider, computer 
  graphics, green buildings, path tracing, sustainable design, smart buildings, sustainable architecture, smart-building, simulation" />
  <meta name="description" content="Inter-disciplinary research group at the Institute for Simulation and Training at the University of Central Florida that develop SENSEable Designs. Our current research focuses on the interdisciplinary digital design of sustainable architecture. We work on advanced numeric simulations that derive a building’s daylighting behavior, thermal performance, and material properties." />
  
<link rel="icon" type="image/png" href="{{site.url}}/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="{{site.url}}/favicon-16x16.png" sizes="16x16" />
<link rel="shortcut icon" type="image/x-icon" href="{{site.url}}/favicon.ico">

  
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} - University of Central Florida</title>
  

  
  <!-- Mobile Specific Metas
================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- my styles -->
  <link href="{{site.url}}/bootstrap/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
  <link href="{{site.url}}/bootstrap/css/font-awesome.min.css" id="kider-css" rel="stylesheet">
  <link href="{{site.url}}/bootstrap/css/mystyle.css" id="kider-css" rel="stylesheet">

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script src="{{site.url}}/bootstrap/js/jquery-3.2.1.min.js"></script>
  <script src="{{site.url}}/bootstrap/js/popper.js"></script>
  <script src="{{site.url}}/bootstrap/js/tooltip.js"></script>
  <script src="{{site.url}}/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{site.url}}/bootstrap/js/bootstrap.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>