

<nav class="navbar navbar-expand-lg navbar-light" data-toggle="affix">
        <div class="menucontainer container">
            <div class="nav-navpeg"></div> 
            <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}">SENSEable Design Lab<br>
            <div class="nav-lower-brand">
                Computational Code &amp; Embodied Design
            </div>
            </a> 
            <button aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler custom-toggler " data-target="#navbarsExampleDefault" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse circleBehind" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
                {% for page in site.pages %} {% if page.title %}
                <li class="nav-item"><a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                {% endif %} {% endfor %}
            </ul>
            </div>
        </div>
</nav>
