---
layout: default
---

    <div class="container" id="main">
        <div class="row">

            <div class="col-xs-11 col-sm-11 col-md-11 mx-auto paperstuff"><BR>
            <H2>Publications</H2>
            </div>


            <div class="col-xs-11 col-sm-11 col-md-11 mx-auto paperstuff custom_about">
            {% for item in site.publications reversed %}

            <b><a href="{{item.link}}">{{ item.title }}</a></b><br>
            {{ item.authors }}<br>
            {{ item.conference }}, {{ item.year }} <br>
            <br>

            {% endfor %}

            </div>
        </div>



    </div>