---
layout: default
---


<div class="container" id="main">

<div class="row"><div class="col-xs-12 col-sm-12 col-md-10">
<BR>
The SENSEable Design Lab  is an inherently interdisciplinary approach to Modeling and Simulation research.  As such, the SENSEable Design Lab partners with a wide variety of units and collaborators across campus.
<BR><BR>
</div></div>


            <div class="row"><div class="col-xs-12 col-sm-12 col-md-11">
                <BR><center><h4>Funding</h4><BR></center>
            </div></div>

           {% for item in site.sponsors reversed %}
            <div class="row" style="padding-bottom: 18px;">
            
            <div class="col-md-3">
            <img width="100%" src="{{site.url}}/imgs/collaborators/{{item.image}}.jpg">
            </div>
            
            <div class="col-md-8 custom_about" style="padding-bottom: 18px;">
            <font size="5"><B>{{ item.name }}</B></font> <font size="2"><BR>
            <B>{{ item.title }}</B> <BR>
            Office: {{ item.office }} <BR>
            Phone: {{ item.phone }} <BR>
            Email: {{ item.email }}<BR>
            <a href="{{ item.website }}">Website</a><BR><BR>
            {{ item.profile }} </font>
            </div>

            </div>
            {% endfor %}


</div>